__pycache__/
*.pyc
.DS_Store
.venv

# Users local .claude settings
.claude
CLAUDE.md

# Ignore heavy media folders
01_Footage
02_Audio
03_Edit
04_Graphics
05_VFX
06_Preview
07_Master

# Ignore specific large file types
*.mp4
*.mov
*.wav
*.mp3
*.mxf
*.braw
*.r3d
*.drp
*.prproj
*.aep

# Ignore generated auto_run files
auto_run.*